{% extends "structure.html" %}
{% block title %}Forgot Password{% endblock title %}
{% block shiftsecond %}
<div class="shift-second fp">
    <div class="container">
        <div class="sign-up-page text-light " >
            <div class="svg text-center pt-3">
                <svg xmlns="http://www.w3.org/2000/svg"  width="70" height="70" fill="white" class="bi bi-question-lg" viewBox="0 0 15 15">
                    <path fill-rule="evenodd" d="M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215 0 1.344-.665 2.288-1.79 2.973-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712 1.03-.632 1.397-1.135 1.397-2.028 0-.979-.758-1.698-1.926-1.698-1.009 0-1.71.529-1.938 1.402-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09 0-.618-.473-1.092-1.095-1.092-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14"/>
                </svg>
            </div>
            <div class="text text-center pt-4">
                <h3>FORGOT PASSWORD</h3>
                <p>Enter your email and we will send you 4-Digit code to reset Password</p>
            </div>
            <div class="info">
                <form class="form" method="POST" >
                    {% csrf_token %}    
                    <div class="form-group pt-2">
                        <label for="password" class="form-label mx-3">
                            Email
                        </label>
                        
                        <input type="email" class="form-control" name="email" id="email" placeholder=" mail@example.com " required>    
                    </div>
                    
                    
                    <div class="text-center pt-4">
                       <button class="btn ">
                            <svg xmlns="http://www.w3.org/2000/svg"  width="40" height="40" fill="white" class="bi bi-chevron-double-right" viewBox="0 0 15 15">
                                <path   fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708"/>
                                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708"/>
                            </svg>
                        </button>
                    </div>
                    <p class="already text-center pt-4"> <a href="/sign-in"> < back to Log-in</a> </p>
                    
                </form> 
            </div>

        </div>
    </div>
</div>
{% endblock shiftsecond %}