<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploader</title>
	{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/upload_file.css' %}">
</head>
<div class="frame">
	<div class="center">
		<div class="title">
			<h1>Drop file to upload</h1>
		</div>
		<a href="/" class="btn btn-info">Go back</a>
		<div class="dropzone">
			<img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
			<input type="file" class="upload-input" />
		</div>

		<button type="button" class="btn" name="uploadbutton">Upload file</button>

	</div>
</div>
